* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;

}

.container {
  background-color: rgba(220, 220, 220, 0.2);
  background-color: black;
}


.banniere {
  background: url("../ressources/22586.jpg");
  width: 100%;
  height: 400px;
  background-size: contain;
}

.title-main {
  text-align: center;
  font-size: 3em;
  margin: 15px auto;
  color: #ffe09f;
}

#search {
  position: absolute;
  right: 50%;
  top: 200px;
  border-radius: 15px;
  width: 15%;
  padding: 5px 10px;
  transform: translate(50%, -50%);
}

.movies-container {
  display: flex;
  flex-direction: column;
}

.link-section {
  text-align: end;
  text-decoration: none;
  margin-right: 30px;
  color: #ffe09f;
}

.link-section:hover {
  text-decoration: underline;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 60px 0;
  flex-wrap: wrap;
}

.card-container a {
  text-decoration: none;
}

.card-container {
  cursor: pointer;
  /* border: 1px solid grey; */
  border-radius: 18px;
  margin-bottom: 30px;
  /* box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.05); */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  background: white;

}

.card-container a {
  text-decoration: none;
}

.card-container img {
  border-radius: 18px 18px 0 0;
}

.footer-card {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-movie {
  color: black;
}

.score {
  border: 3px solid;
  padding: 10px;
  border-radius: 25px;
  font-weight: bold;
}

.list-search {
  position: absolute;
  right: 50%;
  background: white;
  width: 15%;
  border: 1px solid black;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  top: 215px;
  padding: 5px 10px;
  border-top: none;
  border-radius: 0 0px 15px 15px;
  display: none;
  list-style-type: none;
  overflow-y: scroll;
  max-height: 500px;
  transform: translate(50%);

}

.list-element a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  text-decoration: none;
  color: #000;
}

.list-element img {
  width: 50px;
  margin-right: auto;
}

.footer-section a {
  text-decoration: none;
}

.footer-section a:hover {
  color: #ffe09f;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.navig {
  color: #ffe09f;
}