*{
    margin: 0;
    padding: 0;
}


.banniere {
    background: url("../ressources/movies-on-the-house.jpg");
    width: 100%;
    height: 115px;
    background-size: contain;
  }

  .title-main {
    text-align: center;
    font-size: 3em;
    margin: 15px auto;
    color: #bf1e2d;
  }

  .movies-container {
    display: flex;
    flex-direction: column;
  }

  .link-section {
    text-align: end;
    text-decoration: none;
    margin-right: 30px;
    color: #bf1e2d;
  }

  .link-section:hover{
    text-decoration: underline;
  }
  .section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0;
    flex-wrap: wrap;
  }

  .card-container a{
    text-decoration: none;
  }

  .card-container {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.05);
  }

  .card-container a {
    text-decoration: none;
  }

  .footer-card {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .title-movie {
    color: black;
  }

  .score {
    border: 3px solid;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
  }